In [51]:
from ics import Calendar
import pandas as pd

In [52]:

# Open the file
with open("/Users/swimmingcircle/Downloads/sports.ics") as f:
    c = Calendar(f.read())

In [53]:
# Convert the events to a list of dictionaries
event_list = [[event.name, event.begin, event.end, event.location, event.description, event.uid, event.status] for event in c.events]
df = pd.DataFrame(event_list)
df.columns = ['name', 'begin', 'end', 'location', 'description', 'uid', 'status']

df

,name,begin,end,location,description,uid,status
0,Yoga,2022-04-20T17:30:00+08:00,2022-04-20T18:30:00+08:00,None,None,981B0649-1EA8-4093-9649-E9DE4C56B049,None
1,Jogging,2019-09-08T16:00:00-07:00,2019-09-08T17:00:00-07:00,None,None,FC53CCAB-EF85-4173-85B1-58016220C0EB,None
2,Deporte,2022-12-03T10:00:00-03:00,2022-12-03T12:00:00-03:00,None,None,1DB479C9-EAE2-4D1F-8E30-AABB9D377AEE,None
3,Yoga,2022-08-20T09:00:00-07:00,2022-08-20T10:30:00-07:00,None,None,597BDF08-6E29-44CE-9855-3B7F79732AF7,None
4,workout,2021-05-17T17:00:00+08:00,2021-05-17T17:30:00+08:00,None,None,D94163D6-7707-4BCA-88AB-6450C89963A8,None
...,...,...,...,...,...,...,...
297,Jogging,2020-05-18T17:00:00+08:00,2020-05-18T18:00:00+08:00,None,None,5AB459EA-BF75-47BB-BBCD-2D3D24312803,None
298,Ecological reserve workout,2022-10-08T10:00:00-03:00,2022-10-08T12:00:00-03:00,None,None,6E352CA4-654A-47BC-B87B-1A30B751206B,None
299,Deporte,2022-10-29T10:00:00-03:00,2022-10-29T12:00:00-03:00,None,None,0A04D0E2-F4B0-455A-A23D-866F0243C396,None
300,workout,2021-05-09T15:30:00+08:00,2021-05-09T16:00:00+08:00,None,None,04B658A5-AB9A-46DE-BC86-64694A56F406,None
301,Yoga,2022-05-08T10:00:00+08:00,2022-05-08T10:30:00+08:00,None,None,5B66567A-F8D3-4492-A096-F38EDFDDEC62,None

In [54]:
df.begin = df.begin.apply(lambda x: x.datetime)
df.end = df.end.apply(lambda x: x.datetime)

df['begin'] = pd.to_datetime(df['begin'], utc = True)
df['end'] = pd.to_datetime(df['end'], utc = True)

In [55]:
grouped = df.groupby(df['begin'].dt.week)
print(grouped.count())

       name  begin  end  location  description  uid  status
begin
1         8      8    8         0            0    8       0
2        10     10   10         0            0   10       0
3         1      1    1         0            0    1       0
4         5      5    5         0            0    5       0
5         5      5    5         0            0    5       0
6         5      5    5         0            0    5       0
7         2      2    2         0            0    2       0
8         3      3    3         0            0    3       0
9         5      5    5         0            0    5       0
10        8      8    8         0            0    8       0
11        5      5    5         0            0    5       0
13        5      5    5         0            0    5       0
14        5      5    5         0            0    5       0
15        4      4    4         0            0    4       0
16       13     13   13         1            1   13       0
17       16     16   16         0            0   16       0
18       21     21   21         0            0   21       0
19       12     12   12         0            0   12       0
20        8      8    8         0            0    8       0
21       17     17   17         1            0   17       0
22       10     10   10         0            1   10       1
23        4      4    4         0            0    4       0
24        3      3    3         0            0    3       0
25        5      5    5         0            0    5       0
26        6      6    6         0            0    6       0
27        3      3    3         0            1    3       0
28        1      1    1         0            0    1       0
30        4      4    4         0            0    4       0
31        2      2    2         0            0    2       0
32        1      1    1         0            0    1       0
33        4      4    4         0            2    4       2
34        7      7    7         4            1    7       1
35        5      5    5         0            1    5       1
36        5      5    5         2            1    5       1
37        4      4    4         0            0    4       0
38        5      5    5         1            0    5       0
39        6      6    6         0            0    6       0
40        8      8    8         0            0    8       0
41        4      4    4         0            0    4       0
42        3      3    3         0            0    3       0
43        7      7    7         0            0    7       0
44        8      8    8         0            0    8       0
45        6      6    6         0            1    6       1
46        8      8    8         0            0    8       0
47        2      2    2         0            0    2       0
48        4      4    4         0            0    4       0
49        4      4    4         0            0    4       0
50        4      4    4         0            0    4       0
51        5      5    5         0            0    5       0
52        5      5    5         0            0    5       0
53        1      1    1         0            0    1       0

/var/folders/0h/xyv81g2n7sj6zr0c9cw30gkc0000gn/T/ipykernel_25835/2021097080.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  grouped = df.groupby(df['begin'].dt.week)

In [66]:
activity_count = df.set_index('begin').resample('W-MON',base=1).count()

/var/folders/0h/xyv81g2n7sj6zr0c9cw30gkc0000gn/T/ipykernel_25835/1307492106.py:1: FutureWarning: 'base' in .resample() and in Grouper() is deprecated.
The new arguments that you should use are 'offset' or 'origin'.

>>> df.resample(freq="3s", base=2)

becomes:

>>> df.resample(freq="3s", offset="2s")

  activity_count = df.set_index('begin').resample('W-MON',base=1).count()

In [67]:
activity_count

                           name  end  location  description  uid  status
begin
2019-08-26 00:00:00+00:00     1    1         0            0    1       0
2019-09-02 00:00:00+00:00     2    2         0            0    2       0
2019-09-09 00:00:00+00:00     1    1         0            0    1       0
2019-09-16 00:00:00+00:00     1    1         0            0    1       0
2019-09-23 00:00:00+00:00     2    2         0            0    2       0
...                         ...  ...       ...          ...  ...     ...
2022-12-19 00:00:00+00:00     1    1         0            0    1       0
2022-12-26 00:00:00+00:00     3    3         0            0    3       0
2023-01-02 00:00:00+00:00     0    0         0            0    0       0
2023-01-09 00:00:00+00:00     4    4         0            0    4       0
2023-01-16 00:00:00+00:00     2    2         0            0    2       0

[178 rows x 6 columns]

In [64]:
df.sort_values(by='begin', ascending=False).head(10)

,name,begin,end,location,description,uid,status
284,Mediation class,2023-01-12 14:20:00+00:00,2023-01-12 15:05:00+00:00,None,None,CA37540C-024C-4646-82BF-202C47491BC2,None
82,Jog,2023-01-12 09:00:00+00:00,2023-01-12 10:30:00+00:00,None,None,A553863D-D4C4-4F17-84F3-D5D049E80AB3,None
143,Yoga,2023-01-09 12:00:00+00:00,2023-01-09 13:30:00+00:00,None,None,1DB003C8-8418-4D5D-99C8-86D5E0787912,None
29,Jogging,2023-01-09 07:00:00+00:00,2023-01-09 08:00:00+00:00,None,None,FE71B345-CD26-4561-89B4-11D73541561B,None
286,Jogging,2023-01-08 11:00:00+00:00,2023-01-08 12:00:00+00:00,None,None,065C635B-423E-47BB-889A-11B580932A88,None
291,Jogging,2023-01-07 01:00:00+00:00,2023-01-07 02:00:00+00:00,None,None,80711CD0-1D8D-4C8A-8C80-7AB91EDD0200,None
174,Sports,2022-12-26 13:00:00+00:00,2022-12-26 15:00:00+00:00,None,None,5FC17E9A-5FB1-4B53-BB28-A24A40F2947F,None
290,Yoga,2022-12-22 19:00:00+00:00,2022-12-22 19:30:00+00:00,None,None,C6591684-356F-45CA-ACF9-51A37DF47428,None
17,Yoga,2022-12-20 11:30:00+00:00,2022-12-20 12:00:00+00:00,None,None,B01B7021-1934-4A20-98CB-3345AA3DD73D,None
288,Yoga class,2022-12-19 21:00:00+00:00,2022-12-19 22:00:00+00:00,None,None,FF802F91-8123-40F5-A67C-051DBF86F226,None